@mixin header-text {
  padding: 0;
  margin: 10px;
  font-size: 2em;
}

@mixin highlight-filter {
  filter: invert(61%) sepia(11%) saturate(2856%) hue-rotate(169deg)
    brightness(79%) contrast(80%);
}

@mixin game-section {
  margin: auto;
  width: 90%;
  max-width: 1100px;
  padding: 10px 0px;
  * {
    transition: 100ms all ease-in-out;
  }
  @media only screen and (max-width: 900px) {
    width: 100%;
  }
}

@mixin block-label {
  label {
    display: block;
    @include medium-weight;
    padding: 8px 0px;
    color: $grey;
  }
}

@mixin inline-label {
  label {
    display: inline;
    @include medium-weight;
    margin-right: 10px;
    color: $grey;
  }
}

@mixin small-icon {
  img {
    width: 24px;
    height: 24px;
    margin: 0px 5px;
  }
}

@mixin body-text {
  font-size: 1.05em;
  @media only screen and (max-width: 700px) {
    font-size: 1.2em;
  }
}
