.questionContainer{
    padding: 10px 30px;
}

.questionTextContainer{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.controlContainer{
    padding-top: 10px;
    padding-bottom: 10px;
}

.radio {
    font-family: 'Inconsolata', monospace;
    font-size: 120%;
    padding-bottom: 20px;
    color: #532945;
}