.form{
  padding: 10px 30px;
}

.formGroup{
  padding-bottom: 30px;
}

.formLabel{
  font-size: 120%;
  font-family: 'Inconsolata', monospace;
  color: #532945;
  padding-right: 8px;
}

.formHint{
  display: block;
  padding-top: 4px;
  color: rgb(104, 104, 104);
  font-family: 'Inconsolata', monospace;
}

.formControl{
  border: 0;
  border-bottom: 2px solid #4A2545;
  background-color: #F1E3E4;
  color: #532945;
  outline: none;
  height: 40px;
}

.formDropdown{
  width: 350px;
  height: 30px;
  border: 2px solid #4A2545;
  background-color: #F1E3E4;
  color: #532945;
  border-radius: 2%;
  font-size: 100%;
  font-family: 'Inconsolata', monospace;
}