.App{
  background-color: #BB9BB0;
  display: flex;
  height: 100vh;
  position: relative;
}
.container {
  display: block;
  margin: auto;
}

.card{
  width: max-content;
  min-width: 700px;
  max-width: 1000px;
  padding: 20px;
  height: max-content;
  background-color: #F1E3E4;
  border: 1;
  border-radius: 0 2%;
  border-color: #A288A6;
  box-shadow: 0px 5px 10px #A288A6;
}

.header{
  font-family: 'Inconsolata', monospace;
  font-size: 150%;
  font-weight: 800;
  color: #532945;
}

.headerContainer{
  text-align: center;
}

.button{
  height: 40px;
  color: #F1E3E4;
  font-size: 120%;
  font-family: 'Inconsolata', monospace;
  background-color: #4A2545;
  border-radius: 4%;
  border: 1px solid #4A2545;
  box-shadow: 0px 3px 6px #382b36;
}

.button:hover{
    color: #A288A6;
}

.gameText{
  font-size: 120%;
  font-weight: 600;
  font-family: 'Inconsolata', monospace;
  color: #532945;
}

.teamText{
  font-size: 120%;
  font-family: 'Inconsolata', monospace;
  padding-bottom: 10px;
  color: #532945;
}

.gameTextContainer{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.buttonContainer{
    text-align: center;
}

/*Footer*/
.footer{
  position: absolute;
  bottom: 0;
  display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
  justify-content: center;
}
.footerText{
	padding: 3em 5em 3em 5em ;
	text-align: center;
	font-size: 110%;
	color: #532945;
	font-weight: 600;
}

a:link{
  color: #532945;
  text-decoration: none;
}
a:visited{
  color: #532945;
  text-decoration: none;
}
a:hover{
  color: white;
}
a:active{
  color: white;
}